body {
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Lora', serif;
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;
}

nav {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    padding: 1.5rem;
    font-size: 1.8rem;
    display: inline;
}

a { 
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    color: red;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}

footer {
    text-align: center;
}