body {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    justify-content: left;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Lora', serif;
    padding-left: 3rem;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
}

ul {
    list-style-type: none;
}

li {
    padding: 2.7rem;
    font-size: 3.5rem;
}

a { 
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover {
    color: red;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}

footer {
    text-align: center;
}

